ul {
	list-style-type: square;
}
ol{
	/*list-style-type: upper-greek;*/
	list-style-image: url(../image/right.jpg);
}

table{
	width:90%;
}
table,th,tr{
	border:1px solid red;
	border-collapse: collapse;
}
th{
	background-color: green;
	color:white;
	height: 40px;
}

tr{
	text-align: center;
}
tr:hover {background-color:olive;}
tr:nth-child(even)
{
	background-color: gray;
}
h2,span{
	background-color: green;
	display: block
}
img{
	display: block;
	margin: 0px auto;
}